*{
    margin: 0;
    padding: 0;
}

body {
    background: rgb(255,255,255);
background: linear-gradient(90deg, rgba(255,255,255,1) 0%, rgba(213,207,200,1) 68%, rgba(134,134,134,1) 100%);
}

.quote, .author {
    font-size: 2rem!important;
    font-family: 'Bubblegum Sans', cursive;
}
.top{
    text-align: center;
    font-size: 2rem;
    margin: 8px;
    font-family: 'Orelega One', cursive;
}

.top a{
    color: #ff8303 !important;
}

.top a:hover{
    color: #91684a !important;
}

.logo {
    height:100px;
    width:100px;
}

.quote {
    text-align: center;
}

.author {
    text-align: end;
}

.alert {
    margin: 0 25% 0 25%;
    font-size: 2rem;
}

.main {
    margin: 5% 20% 5% 20%;
}

p {
    font-size: 1.4rem;
    margin:20px;
}

#home{
    display: flex;
}

.gallery {
    width:50%;
    margin: 15px;
    margin-top: 35px;
}

.note {
    width: 50%;
    margin: 15px;
}

#contact {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
}

.card-body {
    display: flex;
    flex-direction: column;
}

.fa {
    text-align: center;
    margin: 5px;
}

.heading{
    color: #ff8303 !important;
    font-family: 'Patrick Hand', cursive;
    font-weight: bold;
}

h3 {
    color: #ff8303 ;
}

a {
    text-decoration:none !important;
}

.heading:hover:after {
    content: " ";
    display: block;
    width: 100px;
    height: 1px;
    margin: 20px 0 20px;
    background: #ff8303 ;
}

.btn {
    background-color: #ff8303;
    border: 2px solid #91684a;
    font-size: 1.5rem;
}

.btn:hover {
    background-color: #91684a;
    border: 2px solid #ff8303;
}

.imgBox {
    width: 300px;
    height: 150px
}

.cardContainer, .projectContainer{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.card {
    margin: 25px;
}

@media only screen and (max-width : 768px) {
    #home{
        display: flex;
        flex-direction: column;
    }
    
    .gallery {
        width:100%;
        margin-top: 5px;
    }
    
    .note {
        width: 100%;
    }
    .card {
        margin: 10px;
    } 
    .imgBox {
        width: 150px;
        height: 100px
    }      
}
